/Fundipedia - Technical Interview/Fundipedia - Technical Interview - Stage 2/OrderMgmt/.vs
/Fundipedia - Technical Interview/Fundipedia - Technical Interview - Stage 2/OrderMgmt/OrderMgmt.Api/obj
/Fundipedia - Technical Interview/Fundipedia - Technical Interview - Stage 2/OrderMgmt/OrderMgmt.Api/bin
